In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil.relativedelta import relativedelta
from datetime import datetime

pd.set_option('display.max_columns',None)
pd.set_option('display.min_rows',0)
pd.set_option('display.max_rows',None)

In [2]:
ip = pd.read_csv('../processed_data/ip_pt_pro.csv')
op = pd.read_csv('../processed_data/op_pt_pro.csv')

In [4]:
ip.head()

,Unnamed: 0,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,ApproxAge,Diseases,Age,TotalReimbursement,PotentialFraud
0,0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1943-01-01,NaN,1,1,0,39,230,12,12,0,1,0,1,1,0,0,0,1,0,0,36000,3204,60,70,66,4,66,27068.0,Yes
1,1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,1943-01-01,NaN,1,1,0,39,230,12,12,0,1,0,1,1,0,0,0,1,0,0,36000,3204,60,70,66,4,66,6068.0,No
2,2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1943-01-01,NaN,1,1,0,39,230,12,12,0,1,0,1,1,0,0,0,1,0,0,36000,3204,60,70,66,4,66,6068.0,No
3,3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,1914-03-01,NaN,2,2,0,1,360,12,12,1,0,0,1,1,0,0,1,1,0,0,5000,1068,250,320,94,5,94,6068.0,No
4,4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,1938-04-01,NaN,2,1,1,45,780,12,12,1,0,0,1,0,0,1,0,1,1,1,21260,2136,120,100,70,7,71,11068.0,No

In [7]:
# Converting dt columns from str to dt

def col_to_date(df, col_list) :
    for x in col_list:
        df[x] = pd.to_datetime(df[x])
    return df

dtcols_ip = ['ClaimStartDt','ClaimEndDt','AdmissionDt','DischargeDt','DOB']
ip = col_to_date(ip, dtcols_ip)

dtcols_op = ['ClaimStartDt','ClaimEndDt','DOB']
op = col_to_date(op, dtcols_op)

## Average Duration

In [15]:
# Make duration column

ip['Duration'] = (ip['ClaimEndDt']-ip['ClaimStartDt']).dt.days
op['Duration'] = (op['ClaimEndDt']-op['ClaimStartDt']).dt.days

In [19]:
# Find average per provider

feat_duration_ip = ip.groupby('Provider')['Duration'].agg(['median','mean'])
feat_duration_op = op.groupby('Provider')['Duration'].agg(['median','mean'])
feat_duration_ip.head()

          median      mean
Provider
PRV51001     4.0  5.000000
PRV51003     4.0  5.161290
PRV51007     5.0  5.333333
PRV51008     4.0  4.000000
PRV51011     5.0  5.000000

## Hospitals that Serve Both IP and OP

In [22]:
# Make list of pros in ip and op separately

ip_pros = list(set(ip['Provider']))
op_pros = list(set(op['Provider']))

In [43]:
# Make df with IPs also in OP, and OPs also in IP

ip_pros_df = pd.DataFrame(ip_pros, columns=['Provider'])
feat_both_ip = pd.concat([ip_pros_df, ip_pros_df.isin(op_pros)], axis=1)

op_pros_df = pd.DataFrame(op_pros, columns=['Provider'])
feat_both_op = pd.concat([op_pros_df, op_pros_df.isin(ip_pros)], axis=1)

display(feat_both_ip.head())
feat_both_op.head()

   Provider  Provider
0  PRV54206      True
1  PRV55435      True
2  PRV52816     False
3  PRV56778      True
4  PRV52653      True

   Provider  Provider
0  PRV53323     False
1  PRV51685     False
2  PRV52653      True
3  PRV53473     False
4  PRV56039     False

## Number of Chronic Conditions per Pt

In [44]:
feat_conditions_ip = ip.groupby('Provider')['Diseases'].agg(['median','mean'])
feat_conditions_op = op.groupby('Provider')['Diseases'].agg(['median','mean'])
feat_conditions_ip.head()

          median      mean
Provider
PRV51001     5.0  5.400000
PRV51003     6.5  6.354839
PRV51007     6.0  5.666667
PRV51008     7.5  7.500000
PRV51011     5.0  5.000000

## Average Age of Pt

In [45]:
feat_age_ip = ip.groupby('Provider')['Age'].agg(['median','mean'])
feat_age_op = op.groupby('Provider')['Age'].agg(['median','mean'])
feat_age_ip.head()

          median       mean
Provider
PRV51001    74.0  77.600000
PRV51003    74.0  69.903226
PRV51007    78.0  77.666667
PRV51008    50.5  50.500000
PRV51011    97.0  97.000000

## Number of Pts

In [50]:
feat_patients_ip = pd.DataFrame(ip.groupby('Provider')['BeneID'].count())
feat_patients_op = pd.DataFrame(op.groupby('Provider')['BeneID'].count())
feat_patients_ip.head()

          BeneID
Provider
PRV51001       5
PRV51003      62
PRV51007       3
PRV51008       2
PRV51011       1